// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #e4e4e4;
@light-gray: #969896;
@gray: #24282b;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #14c9b1;
@blue: #1789ff;
@purple: #b159d5;
@green: #17b368;
@red: #d44d4d;
@orange: #c96b2f;
@light-orange: #fb9c5f;
